
body {background-image:url=(background-2.jpg);
background-size=:cover;
background-attachment:fixed;}

#Atable {width: 800px;}
#Atd {width:200px; text-align:center;}
#running {float:right;}
#fishing {float:right;}


